<h2>Paises</h2>
<hr>

<ul class="list-group">

  <li class="list-group-item"
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    home page
  </li>

  <li class="list-group-item"
    routerLink="about"
    routerLinkActive="active"
  >
    about
  </li>

  <li class="list-group-item"
  routerLink="contact"
  routerLinkActive="active"
  >
    contact
  </li>

  <li class="list-group-item"
  routerLink="countries/by-country"
  routerLinkActive="active"
  >
    Por pais
  </li>
  <li class="list-group-item"
  routerLink="countries/by-capital"
  routerLinkActive="active"
  >
    Por capital
  </li>
  <li class="list-group-item"
  routerLink="countries/by-region"
  routerLinkActive="active"
  >
    Por region
  </li>
</ul>
